main {
    background-color: black;
    height: 600px;
    width: 700px;
    margin: auto 90px;
    position: relative;
}
#Red {
    margin: 20% 0 0 30%;
    width: 200px;
    height: 200px;
    background-color: green;
    border-radius: 100%;
    mix-blend-mode: screen;
    position: absolute;
}
#Yellow {
    margin: 20% 0 0 45%;
    width: 200px;
    height: 200px;
    background-color:orange;
    border-radius: 100%;
    mix-blend-mode: screen;
    position: absolute;
}
#Blue {
    margin: 35% 0 0 35%;
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 100%;
    mix-blend-mode: screen;
    position: absolute;
}