main{
    /* background-color: skyblue; */
    height: 700px;
    margin: 5% 0 0 5%;
    display: flex;
    width: 1000px;
    height: 600px;
    border: solid blue;
    margin: 5% 0 0 10%;
    background-color: chartreuse;
    border-radius: 25px;
}
div{
    border-radius: 15px;
    /* border:thick black; */
    margin:10% 0 0 20%;
    border: solid blue;
    margin: 50px;
    text-align: center;
    color: blue;
    box-shadow: 5px;
}
#item1:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}
#item2:hover{
    transform: scale(1.2);
    transition-duration: 0.2s;
}
#item3:hover{
    transform: scale(1.2);
    transition-duration: 0.2s;
}