section{
    display: flex;
}
div{
    width:200px;
    height: 400px;
    border-radius: 15px;
    margin:10% 0 0 20%;
    border: solid blue;
    margin: 50px;
    text-align: center;
    color: blue;
    background-color: darkblue;
}
#item1:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}
#item2:hover{
    transform:rotate(360deg);
    transition-duration: 0.2s;
}
#item3:hover{
    transform: scale(1.2);
    transition-duration: 0.2s;
}