/* Google Font (Poppins & Hitaru ) */
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

nav div ul{
    background-color:greenyellow;
    position: fixed;
    width: 1400px;
    display: inline;
}
#item1 {
    border: 10px solid pink;
    border-radius: 10px;
    background-color: skyblue;
    color: rgb(26, 26, 133);
    padding: 60px  30px 50px 90px;
    margin: 20px auto;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;    
    font-size: 10em;
    word-spacing: 15px;
    /* font-style: italic; */
    /* font-variant: small-caps; */
    /* text-transform: uppercase; */
    line-height: 2;
    text-align: justify;
    /* text-decoration: overline underline line-through 5px red; */
    text-indent: 50px;
    -webkit-text-stroke: 1px black;
    color: #fff;
    transition: 1s ease;
}
#item1:hover {
    text-shadow: 0px 0px 10px green;
    -webkit-text-stroke: 0;
}


div h2{
    border: 10px solid pink;
    border-radius: 10px;
    background-color: skyblue;
    color: rgb(26, 26, 133);
    padding: 20px 30px 50px 100px;
    margin: 20px auto;
      font-weight: 100;
      font-style: strong;
      text-decoration:  2px red;
      text-align: justify;
      text-indent: 40px;
      font-size: 1.3em;
      letter-spacing:5px;
}
#top{
    padding: 90px;
    border: solid 2px red;
    background-color: yellow;
    color: red;
    width: 200px;
    margin-left: 600px;
    text-align: center;
    height: 200px;
    border-top-left-radius: 80px;
    box-sizing: border-box;
    margin-top: -550px;
}
